
  
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
 
      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% else %>
  <% end %>
  
